@use '../../styles/colors.scss' as Color;
@use '../../styles/breakpoints.scss' as Breakpoint;

.navbar {
  &__container {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid Color.$dark-blue;

    background-color: Color.$light-blue;
  }

  &__homeImg {
    flex-basis: 35%;

    > a {
      > img {
        width: 30%;
      }
    }
  }

  &__links {
    flex-basis: 65%;
    display: flex;
    justify-content: space-evenly;
  }
}
