@use '../../styles/colors.scss' as Color;
@use '../../styles/breakpoints.scss' as Breakpoint;

.footer {
  &__container {
    border-top: 1px solid Color.$dark-blue;

    display: flex;
    justify-content: center;

    background-color: Color.$light-blue;

    > a {
      text-decoration: none;

      font-weight: bold;
      color: Color.$red;

      cursor: pointer;
    }
  }
}
